<div class="period" {{bind-attr style=height}}>
    <p class="start-time">{{period.startTime}}</p>
    <p class="event-title">{{period.title}}</p>
    <p class="end-time">{{period.endTime}}</p>
</div>