<nav class="nav-menu navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
    <div class="nav-menu-content">
        <button class="btn btn-default btn-lg btn-block btn-sidemenu" {{action 'toggle'}}>CLOSE</button>
        <button type="button" class="btn btn-default btn-lg btn-block btn-sidemenu" {{action 'logout'}}>LOGOUT</button>
        <button type="button" class="btn btn-default btn-lg btn-block btn-sidemenu" {{action 'about'}}>ABOUT</button>
    </div>
</nav>