<nav class="navbar navbar-default">
    <div class="container-fluid navbar-container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                SCHEDULER
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <h2>Something went wrong there.</h2>
</div>
