<nav class="navbar">
    <div class="container-fluid navbar-container">
        <div class="navbar-float">
            {{view 'navbar-toggle'}}
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                SCHEDULER
            </a>
        </div>
    </div>
</nav>

{{side-bar checkout="checkout" login="login" profile="profile" logout="logout" isAuthenticated=isAuthenticated}}

<div class="container-fluid">
    {{#winjs-view}}
    <div class="week-pivot" class="wide" data-win-control="WinJS.UI.Pivot">
        <div class="week-pivot-item" data-win-control="WinJS.UI.PivotItem" data-win-options="{ 'header': 'This Week' }">
            <div class="schedule-container">
                {{#each day in week}} 
                    {{day-view day=day}}
                {{/each}}
            </div>
        </div>
        <div class="week-pivot-item" data-win-control="WinJS.UI.PivotItem" data-win-options="{ 'header': 'Next Week' }">
            <div class="schedule-container">
                {{#each day in nextWeek}} 
                    {{day-view day=day}}
                {{/each}}
            </div>
        </div>
    </div>
    {{/winjs-view}}
</div>